.birthday-card {
  display: flex;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.birthday-card:last-child {
  margin-bottom: 0;
}

.birthday-card .person-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 1rem;
}

.person-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-name {
  font-weight: 500;
}

.person-age {
  font-size: 0.8rem;
}
